{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="profile_picture">Profile Picture:</label>
                    <input type="file" id="profile_picture" name="profile_picture" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Upload Profile Picture</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
